<div class="layout layout--col">
  <div class="grid">
    <span class="value--xsmall row row--center lg:value--base" data-pixel-perfect="true">TrueNAS Recommended Versions</span>
  </div>

  <div class="grid">
    <div class="row row--center value--xxsmall lg:value--small text--gray-30" data-pixel-perfect="true">Profile</div>
    <div class="row row--center value--xxsmall lg:value--small text--gray-30" data-pixel-perfect="true"">Enterprise</div>
    <div class="row row--center value--xxsmall lg:value--small text--gray-30" data-pixel-perfect="true"">Community</div>
  </div>

  <div class="divider"></div>

  {% for v in merge_variables.versions %}
  <div class="grid">
    <div class="row row--center value--xxsmall lg:value--base" data-pixel-perfect="true">{{ v.profile }}</div>
    <div class="row row--center value--xxsmall lg:value--base" data-pixel-perfect="true"">{{ v.enterprise }}</div>
    <div class="row row--center value--xxsmall lg:value--base" data-pixel-perfect="true"">{{ v.community }}</div>
  </div>
  <div class="divider"></div>

  {% else %}
  <div class="value--xxsmall p--12" data-pixel-perfect="true">No version data available</div>
  {% endfor %}

  </div>

<div class="title_bar">
  <span class="title" data-pixel-perfect="true">TrueNAS recommended versions</span>
  <span class="instance">Last refresh: {{ merge_variables.refreshed_at }}</span>
</div>
