<div class="layout layout--col layout--top layout--stretch-x">
  <div class="grid">
    <span class="value--small row row--center lg:value--base mb--3" data-pixel-perfect="true">TrueNAS Recommended Versions</span>
  </div>

  <div class="grid">
    <span class="value--xsmall lg:value--small text--gray-30" data-pixel-perfect="true">Profile</span>
    <span class="value--xsmall lg:value--small text--gray-30" data-pixel-perfect="true"">Enterprise</span>
    <span class="value--xsmall lg:value--small text--gray-30" data-pixel-perfect="true"">Community</span>
  </div>

  <div class="divider"></div>

  {% for v in merge_variables.versions %}
  <div class="grid">
    <div class="value--xsmall lg:value--base" data-pixel-perfect="true">{{ v.profile }}</div>
    <div class="value--xsmall lg:value--base" data-pixel-perfect="true"">{{ v.enterprise }}</div>
    <div class="value--xsmall lg:value--base" data-pixel-perfect="true"">{{ v.community }}</div>
  </div>
  <div class="divider"></div>

  {% else %}
  <div class="value--xxsmall p--12" data-pixel-perfect="true">No version data available</div>
  {% endfor %}

  <div class="value--xxsmall p--12" data-pixel-perfect="true">* TrueNAS recommends the default Mission Critical update profile for all TrueNAS Enterprise systems.

  </div>

</div>

<div class="title_bar">
  <span class="title" data-pixel-perfect="true">TrueNAS recommended versions</span>
  <span class="instance">Refreshed at: {{ merge_variables.refreshed_at }}</span>
</div>
